/* index.css */
:root {
  --bg-light: #ffffff;
  --bg-dark: #121212;
  --text-light: #000000;
  --text-dark: #f1f1f1;
}

body[data-theme="light"] {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: all 0.3s ease;
}

body[data-theme="dark"] {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.loader.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}
